@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

/* Shared styles */
.heading-text {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.text-secondary {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

.section-heading-text {
    color: #131313;
    font-size: 1.8rem;
    font-weight: 700;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 20px 25px;
    border: none;
    cursor: pointer;
}

/* Header */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;

}

nav li a {
    text-decoration: none;
    color: #424242;
}

.nav-title {
    font-size: 3rem;
    color: #131313;
    font-weight: 700;

}

/* Banner */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}





.banner-img {
    margin-top: 20px;
    width: 100%;
}

/* Main styles */
main {
    max-width: 1440px;
    margin: 70px auto;
}

/* Teams styles */
.teams-container {
    display: flex;
    align-items: center;
}

.teams-container-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-top: 50px;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-heading {
    font-size: 1.8rem;
    margin-top: 80px;

}

.text-quick {
    color: #727272;
    font-weight: 500;
}

.text-of {
    color: #131313;
    font-weight: 700;
}

.text-features {
    color: #FF900E;
    font-weight: 700;

}

/* Facts */
.facts-card-container {
    display: flex;
    gap: 124px;
    justify-content: space-around;
}

.card {
    text-align: center;
    padding: 40px 30px;
    border-radius: 8px;
    border: 1px solid #FF900E;
}

.card-stats {
    color: #424242;
    font-weight: 600;
    font-size: 2.8rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card-title{
    font-size: 1.2rem;
    color: #727272;
    font-weight: 600;
    margin-top: 5px;

}

/* Responsive media queries */
/* Small devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    .teams-container {
        flex-direction: column-reverse;
    }

    .teams-content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .teams-container-img {
        grid-template-columns: 1fr;
    }

}

/* Medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    .teams-container {
        flex-direction: column-reverse;
    }
}