@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

/* Shared styles */
.heading-text {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.text-secondary {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

.section-heading-text {
    color: #131313;
    font-size: 1.8rem;
    font-weight: 700;
}

.sub-heading-text {
    color: #131313;
    font-size: 1.25rem;
    font-weight: 600;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 20px 25px;
    border: none;
    cursor: pointer;
}

/* Header */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;

}

nav li a {
    text-decoration: none;
    color: #424242;
}

.nav-title {
    font-size: 3rem;
    color: #131313;
    font-weight: 700;

}

/* Banner */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}





.banner-img {
    margin-top: 20px;
    width: 100%;
}

/* Main styles */
main {
    max-width: 1440px;
    margin: 70px auto;
}

/* Teams styles */
.teams-container {
    display: flex;
    align-items: center;
}

.teams-container-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-top: 50px;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-heading {
    font-size: 1.8rem;
    margin-top: 80px;

}

.text-quick {
    color: #727272;
    font-weight: 500;
}

.text-of {
    color: #131313;
    font-weight: 700;
}

.text-features {
    color: #FF900E;
    font-weight: 700;

}

/* Feature */
.features-section {
    display: flex;
    margin-top: 130px;
    gap: 100px;
}

.features-content .section-heading-text {
    border-left: 5px solid #FF900E;
    padding: 20px;
}

.features-card {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-bottom: 30px;
}

.teen-years-badge {
    text-align: center;
    color: #FFF;
    width: 342px;
    border-radius: 8px;
    background: #FF900E;
    padding: 45px 42px;
    position: relative;
    bottom: 100px;
  
}

.teen-years-badge h2 {
    color: #FFF;
    margin: 0;


}
.features-img img{
    height: 90%;
    margin-left: 50px;
}

/* Facts */
.facts-card-container {
    display: flex;
    gap: 124px;
    justify-content: space-around;
}

.card {
    text-align: center;
    padding: 40px 30px;
    border-radius: 8px;
    border: 1px solid #FF900E;
}

.card-stats {
    color: #424242;
    font-weight: 600;
    font-size: 2.8rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-title {
    font-size: 1.2rem;
    color: #727272;
    font-weight: 600;
    margin-top: 5px;

}

/* Sponsors section */
.sponsors-section {
    text-align: center;
}

.sponsors-img-container {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
}

.sponsors-img-container img {
    width: 165px;
}
/* Footer */
footer{
    text-align: center;
    padding: 40px 410px;
    border-radius: 8px;
background: #FFF4E7;

}
/* Responsive media queries */
/* Small devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }
    .features-section,
    .sponsors-img-container,
    .facts-card-container,
    nav {
        flex-direction: column;
    }

    .teams-container {
        flex-direction: column-reverse;
    }
    footer,
    .teams-content,
    .facts-card-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .teams-container-img {
        grid-template-columns: 1fr;
    }

    .facts-card-container {
        gap: 20px;
    }
    .features-img img{
        width: 90%;
        margin-left: 0;
    }
    .teen-years-badge{
        position: static;
        max-width: 300px;
    }
}

/* Medium devices */
@media screen and (min-width:576px) and (max-width:960px) {

    .facts-card-container,
    header {
        padding: 20px;
    }
    .features-section,
    .sponsors-img-container,
    nav {
        flex-direction: column;
    }

    .facts-card-container {
        gap: 30px;
    }

    .teams-container {
        flex-direction: column-reverse;
    }
    .features-img img{
        width: 100%;
    }
    footer{
        padding-left: 20px;
        padding-right: 20px;
    }
}